In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [54]:
cdc = pd.merge(chl, gon,  how='left', left_on=['STATE','YEAR','AGE'], right_on = ['STATE','YEAR','AGE'])

In [17]:
states = list(cen['STATE'].unique())
years = list(cen['YEAR'].unique())
ages = list(cen['AGE'].unique())
x = len(states)*len(years)*len(ages)
cols = ['YEAR', 'STATE', 'AGE', 'LESS_HS', 'HS', 'SOM_COL', 'COL_PLUS']
df = pd.DataFrame(columns = cols, index = list(range(x)))


for state in states:
    for year in years:
        for age in ages:
            row = cen[cen['STATE'] == state][cen['AGE'] == age][cen['YEAR']==year].bfill().drop_duplicates().dropna()
            df = pd.concat([df,row]).dropna()
        break
    break
    
df

<ipython-input-17-d3c1b9877de8>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  row = cen[cen['STATE'] == state][cen['AGE'] == age][cen['YEAR']==year].bfill().drop_duplicates().dropna()

Empty DataFrame
Columns: [YEAR, STATE, AGE, LESS_HS, HS, SOM_COL, COL_PLUS]
Index: []

In [126]:
cen = pd.read_csv('/Users/alexandrabruno/Documents/flatiron/data/agg8.csv')

In [101]:
cen.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'FER', 'RACBLK', 'RACWHT', 'RACSOR',
       'YEAR', 'STATE', 'AGE', 'HISPAN', 'COLPLUS', 'HS', 'LESSHS', 'SOMCOL',
       'LESS_HS', 'SOM_COL', 'COL_PLUS'],
      dtype='object')

In [127]:
cen.drop(['Unnamed: 0', 'Unnamed: 0.1','RACBLK', 'RACWHT', 'RACSOR','HISPAN', 'COLPLUS','LESSHS', 'SOMCOL','FER'], axis = 1,inplace = True)

In [128]:
cen['HS'] = np.where(cen['HS'] == 0, np.nan, cen['HS'])

In [129]:
states = list(cen['STATE'].unique())
years = list(cen['YEAR'].unique())
ages = list(cen['AGE'].unique())
x = len(states)*len(years)*len(ages)
cols = ['YEAR', 'STATE', 'AGE', 'LESS_HS', 'HS', 'SOM_COL', 'COL_PLUS']
df = pd.DataFrame(columns = cols, index = list(range(x)))


for state in tqdm(states):
    for year in years:
        for age in ages:
            row = cen[cen['STATE'] == state][cen['AGE'] == age][cen['YEAR']==year].bfill().drop_duplicates().dropna()
            df = pd.concat([df,row]).dropna()
    
df

  0%|          | 0/51 [00:00<?, ?it/s]<ipython-input-129-c73866fca759>:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  row = cen[cen['STATE'] == state][cen['AGE'] == age][cen['YEAR']==year].bfill().drop_duplicates().dropna()
100%|██████████| 51/51 [1:33:33<00:00, 110.07s/it]

         YEAR       STATE       AGE   LESS_HS        HS   SOM_COL  COL_PLUS
2015483  2008  California  35 to 39  0.070201  0.049470  0.064189  0.103659
2015588  2008  California  20 to 24  0.171329  0.115139  0.062549  0.026506
2015348  2008  California  40 to 45  0.028257  0.021605  0.019141  0.029677
2015364  2008  California  25 to 29  0.177646  0.144540  0.120458  0.069423
2015351  2008  California  30 to 34  0.122668  0.102885  0.109380  0.139406
...       ...         ...       ...       ...       ...       ...       ...
8461262  2019    Oklahoma  35 to 39  0.037736  0.030769  0.060109  0.085227
8460723  2019    Oklahoma  20 to 24  0.174419  0.131250  0.078014  0.038168
8462631  2019    Oklahoma  40 to 45  0.044643  0.017730  0.021807  0.012698
8460634  2019    Oklahoma  25 to 29  0.113402  0.137427  0.110024  0.115242
8460703  2019    Oklahoma  30 to 34  0.093750  0.105263  0.091644  0.120344

[2667 rows x 7 columns]

In [130]:
df_1 = pd.read_csv('/Users/alexandrabruno/Documents/flatiron/data/modeling_data1.csv')

In [132]:
df = pd.merge(df, df_1,  how='left', left_on=['STATE','YEAR','AGE'], right_on = ['STATE','YEAR','AGE'])

In [135]:
df

,YEAR,STATE,AGE,LESS_HS,HS,SOM_COL,COL_PLUS,RTE_CHL,RTE_GON,PRC_BLK,PRC_WHT,PRC_HISP,PRC_OTHER
0,2008,California,35 to 39,0.070201,0.049470,0.064189,0.103659,126.1,23.2,0.054381,0.077209,0.067889,0.067280
1,2008,California,20 to 24,0.171329,0.115139,0.062549,0.026506,1250.0,137.5,0.111811,0.079820,0.118292,0.108440
2,2008,California,40 to 45,0.028257,0.021605,0.019141,0.029677,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,California,25 to 29,0.177646,0.144540,0.120458,0.069423,2634.2,297.1,0.123223,0.109703,0.144365,0.142936
4,2008,California,30 to 34,0.122668,0.102885,0.109380,0.139406,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2662,2019,Oklahoma,35 to 39,0.037736,0.030769,0.060109,0.085227,NaN,NaN,NaN,NaN,NaN,NaN
2663,2019,Oklahoma,20 to 24,0.174419,0.131250,0.078014,0.038168,NaN,NaN,NaN,NaN,NaN,NaN
2664,2019,Oklahoma,40 to 45,0.044643,0.017730,0.021807,0.012698,NaN,NaN,NaN,NaN,NaN,NaN
2665,2019,Oklahoma,25 to 29,0.113402,0.137427,0.110024,0.115242,NaN,NaN,NaN,NaN,NaN,NaN
2666,2019,Oklahoma,30 to 34,0.093750,0.105263,0.091644,0.120344,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1,inplace = True)

In [137]:
df.dropna()

,YEAR,STATE,AGE,LESS_HS,HS,SOM_COL,COL_PLUS,RTE_CHL,RTE_GON,PRC_BLK,PRC_WHT,PRC_HISP,PRC_OTHER
0,2008,California,35 to 39,0.070201,0.049470,0.064189,0.103659,126.1,23.2,0.054381,0.077209,0.067889,0.067280
1,2008,California,20 to 24,0.171329,0.115139,0.062549,0.026506,1250.0,137.5,0.111811,0.079820,0.118292,0.108440
3,2008,California,25 to 29,0.177646,0.144540,0.120458,0.069423,2634.2,297.1,0.123223,0.109703,0.144365,0.142936
5,2009,California,35 to 39,0.072727,0.058882,0.056362,0.095944,120.3,14.8,0.060029,0.071054,0.073896,0.084890
6,2009,California,15 to 19,0.020462,0.037494,0.018667,0.200000,529.4,54.9,0.022371,0.020066,0.035643,0.039855
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2653,2017,Oklahoma,20 to 24,0.147727,0.167155,0.074468,0.059829,1818.9,757.2,0.088235,0.108722,0.129310,0.161290
2655,2017,Oklahoma,25 to 29,0.089744,0.123457,0.158273,0.119454,3751.6,817.3,0.093750,0.139860,0.128205,0.096774
2657,2018,Oklahoma,35 to 39,0.078431,0.031142,0.052083,0.077151,176.7,153.7,0.085714,0.055236,0.073394,0.029412
2658,2018,Oklahoma,20 to 24,0.253012,0.092949,0.075092,0.033613,1826.1,687.0,0.132653,0.080378,0.113475,0.054054
2660,2018,Oklahoma,25 to 29,0.106667,0.100796,0.141772,0.137809,3895.5,751.6,0.168421,0.123147,0.073394,0.121212

In [138]:
df.to_csv('/Users/alexandrabruno/Documents/flatiron/data/final_df.csv')